
.table-head {
    background-color: tomato;
}

h1 {
    text-align: center;
    font-size: large;
}

h3 {
    text-align: center;
    font-size: medium;
}

th, button {
    font-size: xx-small;
}

@media all and (min-width: 800px) {
    .overflow {
        overflow-y:visible;
    }
    
    .table-head {
        background-color: tomato;
    }
    
    h1 {
        text-align: center;
        font-size: x-large;
    }
    
    h3 {
        text-align: center;
        font-size: large;
    }
    
    th, button {
        font-size: medium;
    }
}